{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="create_form">
        <br>
        <input name="title" value="{{ request.form['title'] }}" required class="create_title" placeholder="Choose a title if you want">
        <textarea name="body" id="body" class="create_body" placeholder="Type your response">{{ request.form['body'] }}</textarea> 
        {{ form.csrf_token }}
        {{ form.file }}
        <input type="submit" value="Post" class="btn btn-primary">
    </form>
{% endblock %}
